body
{
    background-color: rgb(70, 70, 70);
    header
    {
        color: goldenrod;
        text-shadow: 0px 2px 5px black ;
        font-size: 1.5em;
        display: flex;
        justify-content: center;
    }
    main
    {
        display: flex;
        justify-content: center;
        color: white;
        font-size: 1.2em;
        article
        {
            .button
            {
                display: flex;
                justify-content: center;
                margin-top: 5vh;
                input
                {
                    padding: 1%;
                    font-weight: bold;
                    background-color: goldenrod;
                    font-size: 1rem;
                }
            }
        }
    }
}